@model Award
<h2>Edit award:</h2>
<hr />
<form asp-action="Edit" asp-controller="Awards" asp-antiforgery="true" method="post">
    <input asp-for="Id" hidden />
    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title" />
    </div>
    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description" />
    </div>
    <hr />
    <div>
        <input type="submit" value="Save" />
        <a asp-action="Index" , asp-controller="Awards">Cancel</a>
    </div>
</form>